  # roles/kvm_provision/tasks/start_vm.yml

- name: Start VMs in dependency order
  include_tasks: vm_boot_order.yml
  vars:
    ordered_groups: ['ca', 'dns']
  when: vm_build_state != "running"  

- name: Display wait time
  debug:
    msg: "This will wait up to {{ wait_time_to_shutdown_or_fail }} minutes before resuming to next tasks"

- name: Probe VM with echo until vm power up
  shell: |
    virsh list --all | sed 's/shut off/shutdown/' | grep -i "^.*{{ vm_host }}.*" | awk '{print $NF}'
  register: vm_state
  vars:
  delegate_to: "{{ kvm_delegate }}"
  failed_when: false
  changed_when: false
  until: (vm_state.stdout | default('')) == "running"
  retries: "{{ build_loops|int }}"
  delay: 10          # 10 seconds between attempts

- name: Wait before after stating
  wait_for:
    timeout: 30
  delegate_to: localhost
  become: false
  when: vm_build_state != "running"

- name: vm_build_state status
  debug:
    msg: "vm_build_state is {{ vm_build_state }}"

- name: Update vm_build_state to running (from polling)
  set_fact:
    vm_build_state: "running"
    vm_build_stage: "booting"
  when: (vm_state_check.stdout | default('')) == "running"

- name: Update vm_build_state to running (already known)
  set_fact:
    vm_build_state: "running"
    vm_build_stage: "booting"
  when: vm_state_check is not defined and vm_build_state == "running"


- name: Wait before SSH check
  wait_for:
    timeout: 30
  delegate_to: localhost
  become: false
  when: vm_build_state == "running"

- name: check vm_host
  debug: 
    msg: |
      vm_host {{ vm_host}}
      admin_id {{ admin_id}} 
      admin_set {{ admin_set }}

- name: Display wait time
  debug:
    msg: "This will wait up to {{ wait_time_to_shutdown_or_fail }} minutes before resuming to next tasks"

# - name: Set temporary password for sysadmin
#   ansible.builtin.user:
#     name: sysadmin
#     password: "{{ temp_pwd | password_hash('sha512') }}"

# - name: Change expired password for sysadmin
#   ansible.builtin.expect:
#     command: "ssh -o StrictHostKeyChecking=no sysadmin@{{ vm_fqdn }}"
#     responses:
#       "Current password:": "{{ admin_set }}"
#       "New password:": "{{ temp_pw }}"
#       "Retype new password:": "{{ temp_pw }}"
#     timeout: 30
#   vars:
#     ansible_user: "{{ admin_id }}"
#     ansible_ssh_pass: "{{ admin_set }}"
#     ansible_host: "{{ vm_fqdn }}"
#   become: false
#   delegate_to: "{{ vm_host }}"
#   register: password_change
#   ignore_errors: true

# - name: Reset sysadmin password back to original using chpasswd
#   ansible.builtin.shell: |
#     echo "{{ admin_id }}:{{ admin_set }}" | chpasswd
#   vars:
#     ansible_user: "sysadmin"
#     ansible_ssh_pass: "{{ temp_pw }}"
#     ansible_host: "{{ vm_fqdn }}"
#   become: true
#   delegate_to: "{{ vm_host }}"

# - name: Reset secops password back to original using chpasswd
#   ansible.builtin.shell: |
#     echo "{{ secops_id }}:{{ secops_pwd }}" | chpasswd
#   vars:
#     ansible_user: "sysadmin"
#     ansible_ssh_pass: "{{ admin_set }}"
#     ansible_host: "{{ vm_fqdn }}"
#   become: true
#   delegate_to: "{{ vm_host }}"


- name: Probe VM with echo until SSH is ready
  become: false
  shell: echo sshok
  register: ssh_check
  vars:
    ansible_user: "{{ admin_id }}"
    ansible_ssh_pass: "{{ admin_set }}"
    ansible_host: "{{ vm_fqdn }}"
  delegate_to: "{{ vm_host }}"
  failed_when: false
  changed_when: false
  until: (ssh_check.stdout | default('')) == "sshok"
  retries: "{{ build_loops|int }}"
  delay: 10          # 10 seconds between attempts

- name: Mark VM as ready
  set_fact:
    vm_build_state: "sshok"
    vm_build_stage: "booted"
  when: (ssh_check.stdout | default('')).find('sshok') != -1

