variant: fcos
version: 1.5.0

passwd:
  users:
    - name: core
      ssh_authorized_keys: {{ ssh_authorized_keys | to_json }}

storage:
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: "{{ node_hostname }}.{{ cluster_name }}.{{ base_domain }}"

networkd:
  units:

    # NAT → enp1s0
    - name: 10-provisioning.network
      contents: |
        [Match]
        Name=enp1s0

        [Network]
        DHCP=yes

    # Private → enp2s0
    - name: 20-private.network
      contents: |
        [Match]
        Name=enp2s0

        [Network]
        Address={{ node_ip_private }}/24
        Gateway={{ node_ip_private.split('.')[0:3] | join('.') }}.1
        DNS={{ node_ip_private.split('.')[0:3] | join('.') }}.10
        DHCP=no
        IPv6AcceptRA=no

systemd:
  units:
    - name: worker-ready.service
      enabled: true
      contents: |
        [Unit]
        Description=Worker node initialization

    - name: NetworkManager-wait-online.service
      enabled: false
