# role/ipa_setup/defaults/main.yml
ipa_role: master         # Options: master, replica
ipa_domain: "{{ lookup('env', 'ipa_domain') |lower}}"
ipa_realm:  "{{ lookup('env', 'ipa_domain') |upper}}"
ipa_dm_password: "{{ lookup('env', 'ipa_dm_password')}}"
ipa_admin_password: "{{ lookup('env', 'ipa_admin_password')}}"
ipa_hostname: "{{ ansible_fqdn }}"
ipa_setup_dns: true
ipa_setup_ca: true       # Set false for replica unless promoting CA
ipa_mkhomedir: true
ipa_no_forwarders: true
ipa_no_ntp: true
ipa_no_hbac_allow: true
ipa_dns_zones:
  - name: "{{ lookup('env', 'ipa_domain') | lower }}"
    allow_transfer: "{{ groups['ipa_servers'] | map('extract', hostvars, ['ansible_host']) | list }}"
    allow_query:
      - "any"
    allow_update: "{{ groups['ipa_servers'] | map('extract', hostvars, ['ansible_host']) | list }}"
