server {
    listen {{ nat_ip}}:443 default_server;

    server_name _;

    ssl_certificate     "{{ cert_crt_path }}";
    ssl_certificate_key "{{ cert_key_path }}";
    ssl_client_certificate "{{ cert_ca_chain_path }}";
    ssl_verify_client off;

    disable_symlinks off;
    autoindex on;

    location /boot/ {
        alias /srv/fcos/http/;
    }

    location /ignition/ {
        alias /srv/fcos/ignition/;
    }

    location /butane/ {
        alias /srv/fcos/butane/;
    }

    location /ipxe/ {
        alias /srv/fcos/ipxe/;
    }
}
