{# roles/fcos-iso-install/templates/vm-xml.j2 #}
{% set all_nodes = (groups[controller_group | default('control_nodes')] | default([])) + (groups[worker_group | default('worker_nodes')] | default([])) %}
{% set idx = all_nodes.index(item) %}
{% set slot_enp1 = '%02x' % (3 + idx) %}
{% set slot_enp2 = '%02x' % (4 + idx) %}
{% set slot_enp3 = '%02x' % (5 + idx) %}

<domain type='kvm'>
  <name>{{ item }}</name>
  <memory unit='MiB'>{{ hostvars[item].memory_mb | default(default_vm_memory_mb) }}</memory>
  <vcpu>{{ hostvars[item].vcpus | default(default_vm_vcpus) }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='cdrom'/>
  </os>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ hostvars[item].disk_path | default(default_vm_disk_dir ~ '/' ~ item ~ '.qcow2') }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ default_vm_disk_dir ~ '/' ~ item ~ "-fcos-with-ign.iso" }}'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>

    <!-- enp1s0 -> libvirt network 'br-nat' -->
    <interface type='network'>
      <source network='br-nat'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x{{ slot_enp1 }}' function='0x0'/>
    </interface>

    <!-- enp2s0 -> libvirt network 'br-cluster' -->
    <interface type='network'>
      <source network='br-cluster'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x{{ slot_enp2 }}' function='0x0'/>
    </interface>

    {# enp3s0 -> libvirt network 'default' (only on master/control node) #}
    {% if item in groups[controller_group | default('control_nodes')] %}
    <interface type='network'>
    <source network='default'/>
    <model type='virtio'/>
    <address type='pci' domain='0x0000' bus='0x00' slot='0x{{ slot_enp3 }}' function='0x0'/>
    </interface>
    {% endif %}

    <console type='pty'/>
    <graphics type='vnc' port='-1' autoport='yes'/>
  </devices>
</domain>
