# Begin  Global Automation Engineer standard template - Ver 2.0.1 Date 2015-06-01  * Master * Refer NA14139015 Begin #
# Description
# Software products and versions
# Supported OS platforms : All Unix/Linux variants.
# This sudo profile is required on the 'managed systems' associated
# to the indicated automation tool set.  Self serve access
# considerations are 'Not applicable' for this template.
#
# Automation Engineer id's may be placed in the 'standard' system
# admin group and sudo entry -provided- that entry is consistent
# with the tool's needs.
# In the event that entry is NOT consistent with the tool needs, then
# this template can be used instead.
#
# Replace sample group names with real group names for your account.
#
# The User_Alias name DFLT_AE_BAU to identify the Alias as an
#     Automation Engineer alias
#
User_Alias     DFLT_AE_BAU = %{{ this_group }}
#
# If a different group name is used, replace
# %automata with the -group- that contains the account specific
# automation ids.

#----------------------------------------------------------------------
# Host Aliases
#
# In this template, we assume all systems are managed by the
# automation.  Indicate a subset of systems if not all will
# be managed by automation and a master file is used.
#
Host_Alias    DFLT_AE_HOSTS = ALL
#
# ------------- standard content reminder:
#  This entry uses standard aliases (eg: Cmnd_Alias  DFLT_NONE_EDITOR )
#  which are defined in:   https://DFLT.biz/GsudoStdAlias .  Ensure you
#  have included all needed standard aliases from this file into the
#  /etc/sudoers file.
#
# --------------Do not change anything below this line. ---------------
#
#---------------------------------------------------------------------
#
# DFLT AE command Aliases
#
Cmnd_Alias  DFLT_UNIX_AE_BAU_CMDS = \
    /usr/bin/su -, /bin/su -, /usr/bin/su - root, /bin/su - root
#
#
DFLT_AE_BAU  DFLT_AE_HOSTS =  NOPASSWD:ALL, \
                 !DFLT_NONE_SA,!DFLT_SHELLS_ALL,DFLT_UNIX_AE_BAU_CMDS, \
                 !DFLT_SHELLESCAPE_ALL,!DFLT_NONE_EDITOR
#
# End  Global Automation Engineer standard template - Ver 2.0.1 Date 2015-06-01  * Master * Refer NA14139015 End #
