# Begin Global AWX End Point standard template - Ver 1.0.6  Date 2020-05-05  * Master * Refer xxxxx  Begin #
# Description : Complex, agentless IT automation.
# Software products and versions : All.
# Supported OS platforms : All Unix/Linux variants.
# This sudo profile is designed for use on systems that will be managed with
#  Red Hat Ansible Engine and/or Red Hat Ansible Tower with a focus on supporting AWX
#
# Version control:
#          Eliminate all Control System entries, restrict to End Point entries.
#          In order to accomodate the ability to do 'su' from one unprivileged
#          user to a second unprivileged user, we are going to enable the
#          ansible id to 'all shells'.  According to the ansible documentation,
#          this is necessary.  Net:  This allows 'least
#          privilege.'  The alternative appears to be requiring running more
#          end point id's to run with full root privilege.
#          https://docs.ansible.com/ansible/latest/user_guide/become.html
#          Caution:  ansible tasks will need the following if they are
#           switching between non-privileged users.
#            become_flags: "-I"
#            ansible_ssh_pipelining: true
#
#  To satisfy the security review of NOPASSWD via this automation:
#
# DFLT standard Secondary Logging and Ansible application logging
# must be properly established and configured on the CONTROL host.
#   - $ANSIBLE_LOG_PATH: target file may also be setup as 'append only'
#                        mode with chattr +a. where available.
#
# This Template may NOT be placed on the AWX Tower or Ansible Control sys.
#   The expected pairing is either with a container that has -no- sudo entry
#   on the AWX Tower or Ansible Control systems, or such Tower/Control system
#   using the 152_AWX_TOWER template.
# The user/group referenced by the User_Alias DFLT_ANENGINE_BAU
# *MUST* be configured with no usable login password,
# access must be done through SSH Public Key Authentication.
#
# The Ansible SSH Private Key may be secured using an Ansible supported
# Vaulting solution.
# Approval of this template does *NOT* imply approval
# of using a 'passwordless SSH Private Key' each respective GEO process
# shall be followed for obtaining an exception.
#   References:
#   - https://DFLT.biz/globalsshkeyswiki
#   - https://docs.ansible.com/ansible/latest/user_guide/playbooks_vault.html
#   - No other automation id's may be added to this group.
#
# User Aliases:
#
#   - DFLT_ANENGINE_BAU should reference the %group that
#     the ansible user will use.
#     In this case specifying a user directly instead of a group is
#     also accepted, as there should be no other users in such group.

User_Alias     DFLT_ANENGINE_EP_BAU = %{{ this_group }}

#----------------------------------------------------------------------------


# Host Aliases
#
#   In this template, we require all systems be AWX End Points.
#   This template is not permitted to be placed on the AWX Tower
#     / Ansible Engine control node.

Host_Alias    ANSIBLE_MANAGED_EP_HOSTS = ALL

#----------------------------------------------------------------------------

#                                                                              #
# Command Aliases
#
# Ansible does not use the sudo + su combination that DFLT uses.
# Ansible uses 'sudo /bin/sh' (or other user login shells), so we need to
# specifically allow /bin/sh, and other user login shells.
#
#   To this end, we will use the standard alias DFLT_SHELLS_ALL.

#----------------------------------------------------------------------------

# Privilege Assignment
#
# Use of NOPASSWD: reviewed and granted under the configuration conditions
# and restrictions expressed in the comments of this template.
# Additionally, under the requirements that the user referenced by the
# DFLT_ANENGINE_BAU alias will not be accessed or used interactively,
# have no usable password assigned, and enforce remote login exclusively
# through ssh-key pairs, with properly defined 'from=' and !!label! parameters as
# described in https://DFLT.biz/globalsshkeylabelling

DFLT_ANENGINE_EP_BAU  ANSIBLE_MANAGED_EP_HOSTS = (ALL) NOPASSWD:DFLT_SHELLS_ALL

# End Global AWX End Point standard template - Ver 1.0.6  Date 2020-05-05  * Master * Refer xxxxx End #
