#version=RHEL9
url --mirrorlist={{ kickstart_baseos_url | default('https://mirrors.rockylinux.org/mirrorlist?arch=x86_64&repo=BaseOS-9.6') }}
repo --name=AppStream --mirrorlist={{ kickstart_appstream_url | default('https://mirrors.rockylinux.org/mirrorlist?arch=x86_64&repo=AppStream-9.6') }}

lang en_CA.UTF-8
keyboard --vckeymap=us --xlayouts='us'
timezone UTC,UTC

# Network information
network --bootproto=static --ip={{ ip_addr }} --netmask={{ ip_mask }} --gateway={{ ip_gate }} --nameserver={{ dns_02 }},{{ dns_01 }} --hostname={{ ipa_host }}

timesource --ntp-server=pool.ntp.org

selinux --enforcing
firewall --enabled --service=ssh

ignoredisk --only-use=sda
clearpart --all --initlabel
bootloader --location=mbr --boot-drive=sda

part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
part pv.{{ vg_short }} --fstype="lvmpv" --ondisk=sda --size=100 --grow
volgroup {{ vg_name }} pv.{{ vg_short }}

%addon com_redhat_oscap
    content-type = scap-security-guide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhel9-xccdf.xml
    xccdf-id = scap_org.open-scap_cref_ssg-rhel9-xccdf.xml
    profile = xccdf_org.ssgproject.content_profile_cis
%end

logvol /tmp                 --fstype="xfs" --size=1024   --name=tmplv      --vgname={{ vg_name }} --fsoptions="nodev,nosuid,noexec"
logvol /var                 --fstype="xfs" --size=2048   --name=varlv      --vgname={{ vg_name }}
logvol /var/log             --fstype="xfs" --size=2048   --name=varloglv   --vgname={{ vg_name }}
logvol /var/log/audit       --fstype="xfs" --size=2048   --name=auditlv    --vgname={{ vg_name }}
logvol /var/tmp             --fstype="xfs" --size=1024   --name=vartmplv   --vgname={{ vg_name }} --fsoptions="nodev,nosuid,noexec"
logvol /dev/shm             --fstype="xfs" --size=1024   --name=shmlv      --vgname={{ vg_name }} --fsoptions="nodev,nosuid,noexec"
logvol /home                --fstype="xfs" --size=1024   --name=homelv     --vgname={{ vg_name }}
logvol /                    --fstype="xfs" --size=6144   --name=rootlv     --vgname={{ vg_name }}
logvol swap                 --fstype="swap" --size=2048   --name=swap       --vgname={{ vg_name }}

rootpw --iscrypted {{ pwd_hash }}
user --name=sysadmin --password={{ pwd_hash }} --iscrypted --gecos="System Admin" --groups=wheel
user --name=secops --password={{ secops_hash }} --iscrypted --gecos="automation id" --groups=wheel

%packages
%end

%packages
--ignoremissing
@^minimal-environment
@standard
@headless-management
openscap-scanner
scap-security-guide
aide
audit
libpwquality
policycoreutils
policycoreutils-python-utils
gnupg2
lvm2
iscsi-initiator-utils
chrony
openssl
sssd
rsyslog
logrotate
gnutls-utils
vim
tmux
git
krb5-workstation
bind-utils
jq
curl
wget
python3
python3-pexpect
libvirt-client
virt-install
openssh-clients
%end

%post --interpreter=/bin/bash --log=/root/kickstart-post.log
# Crypto policies
update-crypto-policies --set FIPS

# User groups and sudoers
groupadd sshusers
usermod -aG sshusers sysadmin
usermod -aG sshusers secops
echo "sysadmin ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
echo "secops ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers

# Chrony config
cat > /etc/chrony.conf <<EOF
server 0.ca.pool.ntp.org iburst
server 1.ca.pool.ntp.org iburst
server 2.ca.pool.ntp.org iburst
server 3.ca.pool.ntp.org iburst
allow 192.168.100.0/24
local stratum 10
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
EOF
systemctl enable chronyd
systemctl restart chronyd

# Hosts entry
echo "{{ ip_addr }} {{ ipa_host }} {{ ipa_host.split('.')[0] }}" >> /etc/hosts


# Hostname
hostnamectl set-hostname {{ hostname | default(inventory_hostname) }}

# Updates and services
dnf update -y
systemctl enable auditd
systemctl start auditd

# AIDE init
aide --init && mv /var/lib/aide/aide.db.new.gz /var/lib/aide/aide.db.gz

# OSCAP scan and remediation
PROFILE="xccdf_org.ssgproject.content_profile_cis_level2_server"
DATASTREAM="/usr/share/xml/scap/ssg/content/ssg-rocky9-ds.xml"
RESULTS="/root/oscap-results.xml"
REPORT="/root/oscap-results.html"
FIXLOG="/root/oscap-fix.log"

echo "[+] Running initial oscap scan..." | tee -a "$FIXLOG"
oscap xccdf eval \
  --profile "$PROFILE" \
  --results "$RESULTS" \
  --report "$REPORT" \
  "$DATASTREAM" | tee -a "$FIXLOG"

echo "[+] Applying remediations (excluding GRUB rules)..." | tee -a "$FIXLOG"
oscap xccdf eval \
  --profile "$PROFILE" \
  --results "$RESULTS" \
  --remediate \
  --skip-rule xccdf_org.ssgproject.content_rule_grub2_password \
  --skip-rule xccdf_org.ssgproject.content_rule_grub2_enable_password \
  "$DATASTREAM" | tee -a "$FIXLOG"

echo "Helper node hardened. oscap report saved to /root/oscap-results.html" >> /root/install.log

echo "{{ admin_id }}:{{ admin_set }}" | chpasswd
echo "{{ secops_id }}:{{ secops_pwd }}" | chpasswd

echo '{{ secops_key }}' >> /home/secops/.ssh/authorized_keys

nmcli con modify enp2s0 ipv4.addresses {{ cluster_ip_addr }}/{{ ip_cid }}
nmcli con modify enp2s0 ipv4.gateway {{ cluster_gateway }}
nmcli con modify enp2s0 ipv4.method manual
nmcli con modify enp2s0 ipv4.never-default yes
nmcli con modify enp2s0 ipv6.method ignore
nmcli con modify enp2s0 connection.autoconnect yes
nmcli con up enp2s0

nmcli con modify enp3s0 ipv4.method auto
nmcli con modify enp3s0 ipv4.never-default yes
nmcli con modify enp3s0 ipv6.method ignore
nmcli con modify enp3s0 connection.autoconnect yes
nmcli con up enp3s0

sleep 2
echo "Installation complete. System will power off."
%end
shutdown
