Host_Alias {{ account_name }}_{{ template_type }}_HOST = {{ hostname | default('ALL') }}

User_Alias {{ account_name }}_{{ template_type }}_USER = %%{{ group_user }}
User_Alias {{ account_name }}_{{ template_type }}_ADM  = %%{{ group_admin }}
User_Alias {{ account_name }}_{{ template_type }}_AUTO = %%{{ group_auto }}

Cmnd_Alias {{ account_name }}_{{ template_type }}_CMDS = \
    {{ cmds_list | join(', \\\n    ') }}

Cmnd_Alias {{ account_name }}_{{ template_type }}_PRIVCMDS = \
    {{ priv_cmds_list | join(', \\\n    ') }}

{{ account_name }}_{{ template_type }}_USER {{ account_name }}_{{ template_type }}_HOST = (ALL) {{ account_name }}_{{ template_type }}_CMDS, !NOSHELLS
{{ account_name }}_{{ template_type }}_ADM  {{ account_name }}_{{ template_type }}_HOST = (ALL) {{ account_name }}_{{ template_type }}_CMDS, !NOSHELLS
{{ account_name }}_{{ template_type }}_AUTO {{ account_name }}_{{ template_type }}_HOST = (ALL) NOPASSWD:{{ account_name }}_{{ template_type }}_CMDS, !NOSHELLS
