{% for user in members %}
{% set pwd = default_user_passwords[user] | default("On32Default4User") %}

# Create user {{ user }} in group {{ group_name }}
if ! id -u {{ user }} >/dev/null 2>&1; then
  {% if user == group_name %}
  sudo useradd -m -s /bin/bash -g {{ group_name }} -G {{ group_name }},sshok {{ user }} &&
  {% else %}
  sudo useradd -m -s /bin/bash -G {{ group_name }},sshok {{ user }} &&
  {% endif %}
  echo '{{ user }}:{{ pwd }}' | sudo chpasswd;
fi

# Ensure {{ user }} is listed in {{ group_name }} group entry
{% if user == group_name %}
if [ "{{ user }}" = "{{ group_name }}" ] && \
   ! grep "^{{ group_name }}:" /etc/group | awk -F: '{print $NF}' | grep -qw "{{ user }}"; then
  sudo usermod -aG "{{ group_name }}" "{{ user }}"
fi
{% else %}
if ! getent group "{{ group_name }}" | grep -qw "{{ user }}"; then
  sudo usermod -aG "{{ group_name }}" "{{ user }}"
fi
{% endif %}

{% endfor %}
