{
  "ignition": {
    "version": "3.3.0"
  },
  "storage": {
    "files": [
      {
        "path": "/etc/sysctl.d/99-kubernetes-ipforward.conf",
        "mode": 420,
        "contents": {
          "source": "data:text/plain;charset=utf-8,net.ipv4.ip_forward=1"
        }
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "kubelet.service",
        "enabled": true
      }
    ]
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ lookup('file', ssh_public_key_path) | trim }}"
        ]
      }
    ]
  }
}
