{
  "ignition": { "version": "3.3.0" },

  "storage": {
    "files": [
      {
        "path": "/etc/hostname",
        "mode": 420,
        "contents": { "inline": "{{ hostname }}" }
      },

      {
        "path": "/home/core/.ssh/config",
        "mode": 384,
        "user": { "name": "core" },
        "group": { "name": "core" },
        "contents": {
          "inline": "Host *\n    StrictHostKeyChecking accept-new\n    UserKnownHostsFile ~/.ssh/known_hosts"
        }
      },

      {
        "path": "/etc/NetworkManager/system-connections/enp1s0.nmconnection",
        "mode": 384,
        "contents": {
          "inline": "[connection]\nid=enp1s0\ntype=ethernet\ninterface-name=enp1s0\n\n[ipv4]\nmethod=auto\n"
        }
      },

      {
        "path": "/etc/NetworkManager/system-connections/enp2s0.nmconnection",
        "mode": 384,
        "contents": {
          "inline": "[connection]\nid=enp2s0\ntype=ethernet\ninterface-name=enp2s0\n\n[ipv4]\naddress1={{ node_ip }}/24\nmethod=manual\n"
        }
      },

{% if provider_ip is defined %}
      {
        "path": "/etc/NetworkManager/system-connections/enp3s0.nmconnection",
        "mode": 384,
        "contents": {
          "inline": "[connection]\nid=enp3s0\ntype=ethernet\ninterface-name=enp3s0\n\n[ipv4]\naddress1={{ provider_ip }}/24\nmethod=manual\n"
        }
      },
{% endif %}
    ]
  },

  "systemd": {
    "units": [
      {
        "name": "install-kubernetes.service",
        "enabled": true,
        "contents": "[Unit]\nDescription=Install Kubernetes prereqs (worker)\nAfter=network-online.target\nWants=network-online.target\n\n[Service]\nType=oneshot\nExecStart=/usr/bin/rpm-ostree install cri-o kubelet kubeadm kubectl\nExecStart=/usr/bin/systemctl enable crio kubelet\nRemainAfterExit=yes\n\n[Install]\nWantedBy=multi-user.target"
      }
    ]
  },

  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ lookup('file', ssh_public_key_path) | trim }}"
        ]
      }
    ]
  }
}
